@model IEnumerable<RealEstateAuction.Models.Auction>
@{
    ViewData["Title"] = "Home Page";
}
<section id="banner">
    <!-- Carousel wrapper -->
    <div id="carousel-starter" class="carousel slide" data-bs-slide="carousel">
        <div class="carousel-inner carousel-starter">
            <div class="carousel-item active">
                <div class="position-relative">
                    <img src="https://tieudung.kinhtedothi.vn/upload_images/images/2021/10/07/gom.jpg"
                         alt="bg-blog" style="object-fit: cover; height: 420px; width: 100%;">
                    <div class="responsive-banner-home">
                        <div class="px-3 py-4 d-flex flex-column justify-content-center align-items-center"
                             style="background-color: #ffffff99">
                            <div class="fs-5 fw-normal">FEB 18 | 11 AM PST</div>
                            <div class="fs-5 fw-semibold mt-2">Chara Schrerry Collection Part II</div>
                            <div class="fs-5 fw-normal">FINE EST INC</div>
                            <button class="btn text-white mt-3 rounded-0" style="background-color: #a36b0c;">
                                Show Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="position-relative">
                    <img src="https://gotrangtri.vn/wp-content/uploads/2020/12/mua-do-su-dep-o-dau-1-1.jpg"
                         alt="bg-blog" style="object-fit: cover; height: 420px; width: 100%;">
                    <div class="responsive-banner-home">
                        <div class="px-3 py-4 d-flex flex-column justify-content-center align-items-center"
                             style="background-color: #ffffff99">
                            <div class="fs-5 fw-normal">FEB 18 | 11 AM PST</div>
                            <div class="fs-5 fw-semibold mt-2">Chara Schrerry Collection Part II</div>
                            <div class="fs-5 fw-normal">FINE EST INC</div>
                            <button class="btn text-white mt-3 rounded-0" style="background-color: #a36b0c;">
                                Show Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="position-relative">
                    <img src="https://tieudung.kinhtedothi.vn/upload_images/images/2021/10/07/gom.jpg"
                         alt="bg-blog" style="object-fit: cover; height: 420px; width: 100%;">
                    <div class="responsive-banner-home">
                        <div class="px-3 py-4 d-flex flex-column justify-content-center align-items-center"
                             style="background-color: #ffffff99">
                            <div class="fs-5 fw-normal">FEB 18 | 11 AM PST</div>
                            <div class="fs-5 fw-semibold mt-2">Chara Schrerry Collection Part II</div>
                            <div class="fs-5 fw-normal">FINE EST INC</div>
                            <button class="btn text-white mt-3 rounded-0" style="background-color: #a36b0c;">
                                Show Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-starter"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-starter"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section id="main-content" class="border-1 border-top border-black py-4 px-5">
    <div class="max-width-section">
        <div class="d-flex gap-4 align-items-center">
            <h3 class="fw-lighter mb-0">Curated Collections</h3>
            <button class="btn btn-outline-secondary rounded-pill fs-6">
                View All
            </button>
        </div>
        <div class="mt-3 row">
            <div class="col-md-2 col-sm-4 col-6">
                <div class="ratio ratio-1x1 rounded-2">
                    <img class="object-fit-cover w-100 rounded-2"
                         src="https://www.invaluable.com/inv/discover/wp-content/uploads/sites/87/2023/05/Collections-Category-Flawsome.jpg"
                         alt="">
                </div>
                <div class="fs-6 fw-bold mt-2">
                    Nhà đất
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="ratio ratio-1x1 rounded-2">
                    <img class="object-fit-cover w-100 rounded-2"
                         src="https://www.invaluable.com/inv/discover/wp-content/uploads/sites/87/2023/05/Collections-Category-Bazaar.jpg"
                         alt="">
                </div>
                <div class="fs-6 fw-bold mt-2">
                    Nhà đất
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="ratio ratio-1x1 rounded-2">
                    <img class="object-fit-cover w-100 rounded-2"
                         src="https://www.invaluable.com/inv/discover/wp-content/uploads/sites/87/2023/05/Collections-Category-Flawsome.jpg"
                         alt="">
                </div>
                <div class="fs-6 fw-bold mt-2">
                    Nhà đất
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="ratio ratio-1x1 rounded-2">
                    <img class="object-fit-cover w-100 rounded-2"
                         src="https://www.invaluable.com/inv/discover/wp-content/uploads/sites/87/2023/05/Collections-Category-Bazaar.jpg"
                         alt="">
                </div>
                <div class="fs-6 fw-bold mt-2">
                    Nhà đất
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="ratio ratio-1x1 rounded-2">
                    <img class="object-fit-cover w-100 rounded-2"
                         src="https://www.invaluable.com/inv/discover/wp-content/uploads/sites/87/2023/05/Collections-Category-Flawsome.jpg"
                         alt="">
                </div>
                <div class="fs-6 fw-bold mt-2">
                    Nhà đất
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <div class="ratio ratio-1x1 rounded-2">
                    <img class="object-fit-cover w-100 rounded-2"
                         src="https://www.invaluable.com/inv/discover/wp-content/uploads/sites/87/2023/05/Collections-Category-Bazaar.jpg"
                         alt="">
                </div>
                <div class="fs-6 fw-bold mt-2">
                    Nhà đất
                </div>
            </div>
        </div>
        <div class="d-flex gap-4 align-items-center mt-5">
            <h3 class="fw-lighter mb-0">Phiên đấu giá gợi ý</h3>
        </div>
        <div class="mt-2 pt-3" style="border-top: 1px solid #dde2e4;">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xs-12 col-sm-4 py-2">
                        <div class="row" style="border: 1px solid #bac4c9;">
                            <div class="col-6 position-relative">
                                <img style="max-width: 100%; max-height: 180px;" class=""
                                     src="@Url.Content(item.Images.ElementAt(0).Url)"
                                     alt="">
                            </div>
                            <div class="col-6">
                                <div class="fs-6 fw-semibold truncate-2-line">
                                    @if (item.Title.Length > 20)
                                    {
                                        item.Title = item.Title.Substring(0, 20) + "...";
                                    }
                                    @item.Title
                                </div>
                                <div class="fs-6 fw-lighter truncate-2-line mt-1">
                                    By: @item.User.FullName
                                </div>
                                <div class="fs-6 fw-light truncate-2-line mt-2">
                                    @item.StartTime
                                </div>
                                <button class="btn btn-danger-secondary mt-3 w-100">
                                    Chi tiết
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <h2 class="mt-5 mb-2 fw-light">Phiên đấu giá mới đăng</h2>
        <div>
            <!-- Array of upcomming auctions -->
            @foreach (var item in Model)
            {
                <div class="pt-3" style="border-top: 1px solid #dde2e4;">
                    <div class="row pb-3">
                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <div class="w-100 ratio ratio-1x1" style="border: 1px solid #dde2e4;">
                                <img class="object-fit-contain"
                                     src="@Url.Content(item.Images.ElementAt(0).Url)"
                                     alt="">
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-10 col-xs-9">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="fs-6 fw-semibold truncate-2-line">
                                        @item.Title
                                    </div>
                                    <div class="fs-6 fw-lighter truncate-2-line mt-1">
                                        By: @item.User.FullName
                                    </div>
                                    <div class="fs-6 fw-light truncate-2-line mt-2">
                                        @item.StartTime
                                    </div>
                                    <div class="fs-6 fw-light truncate-2-line mt-2">
                                        @item.Address
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="d-flex align-items-center">
                                        <i class="fa-solid fa-wifi"></i>
                                        <div class="fs-6 fw-light truncate-2-line">
                                            Đấu giá trực tiếp
                                        </div>
                                    </div>
                                    <button class="btn btn-danger mt-3 w-100">
                                        Đang diễn ra
                                    </button>
                                    <a class="text-decoration-none cursor-pointer mt-3">
                                        Tham gia đấu giá
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="pt-3 d-flex justify-content-center align-items-center"
             style="border-top: 1px solid #dde2e4;">
            <a href="/" class="text-decoration-none cursor-pointer cursor-pointer">
                View all upcoming live and timed auctions
            </a>
        </div>
    </div>
</section>